.cont {
  height: 110%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.cont a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: flex;
}

.cont a:hover {
  color: white;
}
