<div class="box">
  <img class="image" src="assets/login.jpg">
  <div class="cont">
    <h1>Registration</h1>
    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" placeholder="Name">
    </div>

    <div>
      <label for="surname">
        Surname
      </label>
      <input id="surname" type="text" placeholder="Surname">
    </div>

    <div>
      <label for="email">
        Email
      </label>
      <input id="email" type="text" placeholder="Email">
    </div>

    <div>
      <label for="username">
        Username
      </label>
      <input id="username" type="text" placeholder="Username">
    </div>

    <div>
      <label for="password">
        Password
      </label>
      <input id="password" type="password" placeholder="Password">
    </div>

    <button class="register-button" type="submit" (click)="registerFunc()">Register</button>
  </div>
</div>
